body {
    /*
    margin-top: 20px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    */
    background: color:lightpink;
    margin: 20px 100px 50px 100px;
}
    
img {
    padding: 20px;
    width: 400px;
    border-radius: 50%;
    background: linear-gradient(0deg, pink 0%, #e26c52 100%);

}

.imagen-div{
    display: flex;
    justify-content: center;
}

h1 {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: console, sans-serif;
    color: firebrick;
    font-size: 70px;
    text-shadow: 1px 2px 15px #6d0909;
}

.intro {
    background: rgb(148, 49, 49);
    color: rgb(255, 240, 240);
    font-size: 24px;
    padding: 25px;
}
.nav {
    font-size: 24px;
    margin-top: 50px;
    list-style: none;
    padding-left: 0px;
    text-align: center;
}
.nav li {
    display: inline-block;
}
.nav a {
    background: rgb(206, 76, 76);
    padding: 5px;
    text-decoration: none;
}
.nav a:link {
    background-color: pink;
    color: white;
    text-decoration: none;
    padding: 20px;
}

.nav a:visited {
    background-color: purple;
}

.nav a:hoover{
    background-color: blue;
    color: blue;
    text-decoration: underline;
}
#manzana-card {
    margin: 10px;
    padding: 20px;
    background:indianred;
    color: black;
    border-radius: 30px;
}
#chocolate-card {
    margin: 10px;
    padding: 20px;
    background:indianred;
    color: black;
    border-radius: 30px;
}
#fresa-card {
    margin: 10px;
    padding: 20px;
    background:indianred;
    color: black;
    border-radius: 30px;
}